{% extends "layout.html" %} {% block content %}

<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="intro">
  
<!-- Write Up on data -->
  <div class="w3-container">
    <h2 style="margin-left:1cm;" style="margin-right:1cm;">Covid-19 Mortality Risk Prediction</h2>
    
    <p style="margin-left:1cm;" style="margin-right:1cm;">Intent: Our project is to use machine learning to identify patient populations at risk for COVID-19 mortality.</p>
  
    <p style="margin-left:1cm; margin-right:1cm;">Data used for the project was based on a compilation of international clinical publications created by the team at COVID Analytics. 
      Each row represents a cohort of patients with a rich amount of medical information: such as percentage 
      breakdown of gender, ethnicity, past travel and medical history, symptoms, treatment plan and mean population 
      values for age, lab results (CBC, WBC, liver enzymes) to list a few.</p> 
      
    <p style="margin-left:1cm; margin-right:1cm;">We focused on age, gender, medical history (pre-existing conditions) and symptoms. The dataset was filtered to 
      include populations with adequately reported data and the dataset size was augmented to allow for application of 
      machine learning. All filtered population data for modeling were tested COVID-19 positive. To apply logistic 
      regression model in determining populations at low or high COVID-19 mortality risk, the rate of mortality was 
      converted to binary values using the mean as a sorting factor.</p>
      
        <p style="margin-left:1cm; margin-right:1cm;">Below graph shows the classification of mortality rate over various countries based on the data </p>
        <img class="image" src="../static/images/Screenshot (184).png" alt="image" width="1300" height="900" >
    
   
 
</body>
</html>